.tcepanel{
    font-family: 'Vollkorn', serif;
    font-size: 17px;
    background-color: #d4d4d4;
}

#pimage{
    background: url("../img/low/1%20(1).jpg") no-repeat;
    width: 500px;
    height: 281px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}

.wellp{
    border-radius: 5px;
    background-color: #d4d4d4;
    box-shadow: 2px 2px 5px black;
}